.spinnerContainer {
  position: relative;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

}
.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.spinner div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: spinnerKeyframe 1.5s cubic-bezier(0,0.2,0.8,1) infinite;
  background-image: linear-gradient(#16b0bb, #16b0bb);
}
 
.spinner div:nth-child(1) {
  border-color: #16b0bb
}

.spinner div:nth-child(2) {
  border-color: #16b0bb;
  animation-delay: -0.5s;
}

 
.spinner div { box-sizing: content-box; }

@keyframes spinnerKeyframe {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}


