.container {
    width: 100%;
  min-width: 300px;
  max-width: 360px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}
.containerData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.perfil {
    margin: 10px;
    width: 250px;
    height: 110px;
    object-fit:cover;
    object-position: center;
  }
.review {
    top: 19px;
    position: absolute;
    color: #000000;
    text-align: center;
    font-size: 14px;
    animation-name: animationReview;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}
.blueText {
    display: flex;
    justify-content: space-between;
    color: #000000;
    text-align: left;
    font-size: 12px;
    animation-name: animationBlueText;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
}
.materia {
    animation-delay: 3.3s;
}
.errores {
    animation-delay: 3.6s;
}
.aciertos {
    animation-delay: 3.9s;
}
.noRes {
    animation-delay: 4.2s;
}
.verRes {
    animation-delay: 4.5s;
}

.paragraph {
    color: black;
    margin: 5px;
    height: 20px;
    font-size: 0;
}
.green {
    animation-name: animationGreen;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: 2s;
}
.red {
    animation-name: animationRed;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: 1.3s;
}
.message {
    margin: 5px;
    color: #000000;
    font-size: 16px;
    animation-name: animationMessage;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: 3s;
}
.perfect {
    margin: 5px;
    color: #000000;
    font-size: 16px;
    animation-name: animationPerfect;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: 3s;
}
.emogi {
    display: inline-block;
    font-size: 0px;
    animation-name: animationEmogi;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    animation-delay: 3s;
}
.progressPorcent {
    top: 0;
    right: 45px;
    width: 47%;
    height: 10px;
    background-color: #365b74;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    text-align: center;
}
.porcent {
    height: 10px;
    border-radius: 10px;
    text-align: center;
    color: black;
  
}
@keyframes animationReview {
    0% {
        color: black;
    }

    30% {
        color: #00F0FF;
    }
    70% {
        color: #00F0FF;
    }
    100% {
        color: transparent;
    }
}
@keyframes animationRed {
    0% {
        color: black;
    }

    50% {
        color: rgb(255, 0, 0);
    }

    100% {
        color: rgb(255, 0, 0);
        font-size: 16px;
    }
}

@keyframes animationGreen {
    0% {
        color: black;
    }

    50% {
        color: rgb(0, 233, 0);
    }

    100% {
        color: rgb(0, 233, 0);
        font-size: 16px;
    }
}
@keyframes animationMessage {
    0% {
        color: black;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #00F0FF;
    }
}
@keyframes animationPerfect {
    0% {
        color: black;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: yellow;
    }
}
@keyframes animationEmogi {

    0% {
        font-size: 16px;
    }

    30% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(10deg);
    }

    55% {
        transform: rotate(-15deg);
    }

    70% {
        transform: rotate(15deg);
    }

    85% {
        transform: rotate(-10deg);
    }

    100% {
        font-size: 16px;
        transform: rotate(0deg);
    }

}

@keyframes animationBlueText {
    0% {
        color: black;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #00F0FF;
    }
}