.container {
    position: relative;
    /* background-color: blue; */
    padding-top: 90px;
    padding-bottom: 50px;
    height: 100%;
    min-height: 640px;
    width: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    /* centrado vertical */
    justify-content: space-around;
    /* centrado-horizontal */
    align-items: center;
    color: white;
}
.subtitle {
    display: inline-block;
    margin: 8px;
    color: orange;

}
.perfil {
    margin: 10px;
    height: 90px;
    width: 90px;
    border-radius: 50px;
}

.buttonContainer {
    height: 200px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.link {
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 360px;
}
  
  
  
  
  
  
  
  
  
  
  