.perfil {
    margin: 10px;
    width: 250px;
    height: 110px;
    object-fit:cover;
    object-position: center;
  }
.container {
    width: 100%;
  min-width: 300px;
  max-width: 360px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}
.boxMain {
    background-color: rgb(0, 0, 0);
    border: 1px solid #1eff00;
    width: 100%;
    max-width: 360px;
    height: 60%;
    max-height: 90px;
    min-height: 90px;
    border-radius: 10px;
    margin-top: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box {
    color: #00F0FF;
    background-color: #486bad3c;
    border: 2px solid #486bad3c;
    font-size: 14px;
    width: 90%;
    max-width: 500px;
    min-height: 30px;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button {
    background-color: red;
    color: white;
    font-size: 14px;
    width: 90%;
    max-width: 500px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}
.red {
    background-color: red;
    color: white;
}
.green {
    background-color: rgb(0, 255, 0);
    color: white;
}
.textCont {
    position: relative;
    background-color: transparent;
    width: 100%;
    min-width: 300px;
    max-width: 360px;
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.white {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 12px;
    background-color: #001b3f80;
    padding: 5px;
    min-width: 75px;
    border-radius: 5px;
    text-align: center;


  
}
.contRE {
    position: absolute;
    right: 0;
    display: inline-block;
}
.errors {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 12px;
    text-align: center;
    min-width: 50px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.rights {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
    font-size: 12px;
    text-align: center;
    min-width: 50px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}


.answersContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.boxAsk {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ask {
    font-size: 12px;
    text-align: center;
}


.move {
    cursor: pointer;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    transition-property: all;
    transition-duration: .3s;
}
.move:hover {
    color: rgba(255, 255, 255, 1);
}
.moveBlack {
    color: black;
}
